<div class="container">
  <div class="row">
    <label>Username
      <input type="text" class="form-control" [(ngModel)]="username">
      <button class="btn btn-primary" [disabled]="!username" (click)="onGoToClearUsername()">Reset</button>
    </label>
    <p>your username is {{ username }}</p>

    <hr>
    <div>
      <p>HW-3之练习内置指令</p>
      <button class="btn btn-primary" (click)="isFree=!isFree;genLog()">Display Details</button>
      <div [ngStyle]="{minHeight: '28px'}">
        <p *ngIf="isFree">I am a free paragraph</p>
      </div>
      <ul>
        <li *ngFor="let log of logArr; let i = index" [ngClass]="{white: i>=5}" [ngStyle]="getLogStyle(i)">{{log}}</li>
      </ul>
    </div>
  </div>
</div>
  

<router-outlet></router-outlet>
